* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.aplicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    background-color: #22252d;
    width: 100%;
    max-width: 375px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
}

.pantalla {
    min-height: 200px;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: antiquewhite;
    text-align: right;
    flex: 1 1 0%;
}

.pantalla .entrada {
    font-size: 1.32rem;
    margin-bottom: 0.6rem;
}

.pantalla .salida {
    font-size: 3.1rem;
    font-weight: 705;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.pantalla .operador {
    color: brown;
}

.pantalla .parentesis,
.pantalla .percent {
    color: rgb(84, 143, 111);
}

.botones {
    background-color: #292d36;
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.botones .key {
    position: relative;
    cursor: pointer;

    display: block;
    height: 0;
    padding-top: 100%;
    background-color: #262933;
    border-radius: 1.12rem;
    transition: 0.2s;
    user-select: none;

}